* {
    text-align: center;
}
label {
    justify-content: center;
    display: block;
}
body {
    background: black;
    color: white;
}
.labl {
    margin: 2rem;
}

input {
    margin: 3%;
    width: 20%;
}
.container{
    color: rgb(255, 255, 255);
    margin: 2rem 4rem;
    padding: 3rem;
    background: url('bull.jpg');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: fill ;
}

.main{
    color: black;
    padding: 1rem;
    margin: auto;
    width: 60%;
    background: rgba(255, 255, 255, 0.863);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: fill ;
}

.main label {
    font-size: 1.2rem;
    text-decoration: underline 2px black;
    font: bolder;
    font-weight: 900;
}
button {
    background: burlywood;
    font-size:1.6rem ;
}
button:hover{
    background: crimson;
    color: white;
}
footer div a{
	text-decoration: none;
	color: white;
}

footer div a:hover{
	color:rgb(255, 0, 0);
}

.footer{
	max-width: 50%;
	margin:auto;
	overflow: hidden;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1%;
	margin-top: 4%;
	border-style: solid;
	border-radius: 1rem;
	border-color: white;
	border-width: 1px;
	}
.footer i{
	margin-left: 2rem;
}
.footer h2{
	margin:1rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 2rem
}