@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@900&display=swap');
body {
	background:black;
	color: white;
	margin: 0px;
	padding: 0px;
}

nav {
	text-align: right;
	flex: 1;
}

header{
	padding: 0%;
	color: rgb(99, 99, 99);
	background-color: aliceblue;
	clip-path: polygon(0 0, 100% 0 , 100% 100% , 100% 100% ,0	 100%);
}

header nav ul li{
	font-family: 'Bebas Neue', cursive;
	font-size: 30px;
	list-style-type: none;
	display: inline-block;
	margin-right: 4%;
	margin-top: 4%;
	 
}

header nav ul li:hover {
	 transform: scaleY(1.5);
}

.marq{
	margin-top:4%;
	margin-left: 10%;
	font-family: cursive;
	font-size: 20px;
	font-weight: bold;
	max-width: 20%;
	float: left;
}
.container {
	margin: none;
	padding: none;
}
.intro{
	display: inline-block;
	margin-top: 5%;
	font-size: 70px;
	margin-left:10%;
	margin-bottom: 0px;
	padding: 0px;
	font-family: 'Carter One', cursive;
	line-height: 1; 
}

#nik {
	/*display: inline-block;*/
	margin: 0px;
	margin-left:10%;
	padding: 0px;
	font-family: 'Inknut Antiqua';
	line-height: 1.5; 
	font-weight: 0;
	font-size: 100px;
}

 img {
	width: 90%;
	height: 200px;
	border-radius: 50%;
 }

.left{
	float: left;
	margin: 2rem;	
}
.right{
	float: right;
	margin: 4%;
	margin-right: 10%
}

